/* style.css */

body{
    background-color: rgb(255, 217, 181);
    font-family: "Ubuntu Light", Arial, Helvetica, sans-serif;
    /* padding: 0px; */
    margin: 0px;
    /* border: 10px solid gray; */
}

h1{
    text-decoration: dotted underline;
    margin: 20px 0px 8px;
    /* width: 400px; */
    /* padding: 0rem 0rem 0rem 1rem; */
}

h1, h2{
    color: rgb(83, 83, 83);
    background-color: rgb(255, 191, 131);
    font-family: Purisa, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0rem 0rem 0rem 1rem;
}

a{
    font-family: Chilanka, Arial, Helvetica, sans-serif;
    color: darkred;
    text-decoration: none;
    font-size: 1.25rem;
}


li{
    /* list-style: none; */
    margin: 8px;
}

ul{
    margin: 0px 0px 0px 0px;
}

.pa{
    text-align: right;
    max-width: 700px;
}

p{
    padding: 0px 20px 0px;
    max-width: 700px;
}

img{
    margin-left: 20px;
}

.menu{
    /* background-color: gray; */
    margin: 30px;
}
